<app-navbar></app-navbar>
<h1>Stanturf United FC</h1>
<p>Established in 1991, under the umbrella of Mitchell's Plain Football Association (MPLFA) which is part of SAFA
    Western Cape.</p>

<h1>Club Objectives</h1>
<p>To foster and promote good relations amongst its members and to form
    good relations with other clubs, which have the promotion of amateur soccer
    in South Africa as their objective and is to provide a system of development
    for players and administration through coaching clinics and seminars.</p>
<p>To encourage and promote football as a lifelong sport and one of the
    best activities to stay fit and active.</p>
<p>To break into the junior market to further promote development and a
    pathway for juniors to succeed and have fun.</p>
<p>To build a stronger relationship amongst each other within the
    communities not only on a football lever but to reunite as a family and
    put the differences aside as today’s life is all about the youth and the
    future of our country.</p>
<p>To build a stonger relationship amongst each other within the communities not only on a football
    lever but to reunite as a family and put the differences aside as today’s life is all abouth the
    your and the future of our country.</p>

<section class="ourValues">
    <h1>Our Values</h1>
    <div class="values">
        <div>
            <img src="../../assets/2x/baseline_speaker_phone_black_48dp.png" alt="">
            <p>Communication</p>
        </div>
        <div>
            <img src="../../assets/2x/baseline_directions_run_black_48dp.png" alt="">
            <p>Discipline</p>
        </div>
        <div>
            <img src="../../assets/2x/baseline_search_black_48dp.png" alt="">
            <p>Transparency</p>
        </div>
        <div>
            <img src="../../assets/2x/baseline_people_black_48dp.png" alt="">
            <p>Trust</p>
        </div>
        <div>
            <img src="../../assets/2x/baseline_date_range_black_48dp.png" alt="">
            <p>Availability</p>
        </div>
    </div>
</section>

<section>
    <h1>Executive Members</h1>
    <div class="executiveMembers">
        <div>
            <img src="../../assets/IMG-20200130-WA0012.jpg" alt="Janine Overmeyer">
            <h2>Chairperson - Ms J Overmeyer</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0000.jpg" alt="">
            <h2>Vice Chairperson - Mr A Fortuin</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0001.jpg" alt="">
            <h2>General Secretary - Ms S Ederies</h2>
        </div>
        <div>
            <img src="../../assets/default.png" alt="">
            <h2>Assistant Secretary - Ms S Martin</h2>
        </div>
        <div>
            <img src="../../assets/Kenny.jpg" alt="">
            <h2>Treasurer - Mr C Kenny</h2>
        </div>
        <div>
            <img src="../../assets/default.png" alt="">
            <h2>M & R Officer - Mr E Davey</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0003.jpg" alt="">
            <h2>Club Captain - Mr S Arendse</h2>
        </div>
        <div>
            <img src="../../assets/default.png" alt="">
            <h2>U 8 Manager - Mr W Van Neel</h2>
        </div>
        <div>
            <img src="../../assets/Roger.jpg" alt="">
            <h2>U 10 Manager - Mr R Majiet</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0000.jpg" alt="">
            <h2>U 12 Manager - Mr A Fortuin</h2>
        </div>
        <div>
            <img src="../../assets/default.png" alt="">
            <h2>U 16 Manager - Mr T Van Schalkwyk</h2>
        </div>
        <div>
            <img src="../../assets/default.png" alt="">
            <h2>U 18 Manager - Mr J Pietersen</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0005.jpg" alt="">
            <h2>Seniors Manager - Mr J Valentyn</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0004.jpg" alt="">
            <h2>First Team Seniors Manager - Mr C Abrahams</h2>
        </div>
        <div>
            <img src="../../assets/IMG-20200205-WA0002.jpg" alt="">
            <h2>O 40 Manager - Mr E Davey</h2>
        </div>

    </div>
</section>


<h1>Teams</h1>

<section>
    <div class="teams">
        <h2 routerLink="/under8">Under 8</h2>
        <div class="under8">
            <img src="../../assets/under8(1).jpg" alt="">
            <img src="../../assets/under8.jpg" alt="">
            <img src="../../assets/under8(2).jpg" alt="">
        </div>

    </div>

    <h2>Under 10</h2>
    <div class="under8">
        <img src="../../assets/under10(1).jpg" alt="">
        <img src="../../assets/under10.jpg" alt="">
        <img src="../../assets/under10(2).jpg" alt="">
    </div>

    <div class="teams">
        <h2>Under 12</h2>
        <div class="under8">
            <img src="../../assets/default.png" alt="">
            <img src="../../assets/default.png" alt="">
            <img src="../../assets/default.png" alt="">
        </div>
    </div>

    <h2>Under 14</h2>
    <div class="under8">
        <img src="../../assets/default.png" alt="">
        <img src="../../assets/default.png" alt="">
        <img src="../../assets/default.png" alt="">
    </div>

    <div class="teams">
        <h2>Under 16</h2>
        <div class="under8">
            <img src="../../assets/default.png" alt="">
            <img src="../../assets/default.png" alt="">
            <img src="../../assets/default.png" alt="">
        </div>
    </div>

    <h2>Under 18</h2>
    <div class="under8">
        <img src="../../assets/default.png" alt="">
        <img src="../../assets/default.png" alt="">
        <img src="../../assets/default.png" alt="">
    </div>

    <div class="teams">
        <h2>First Team</h2>
        <div class="under8">
            <img src="../../assets/firstteam(1).jpg" alt="">
            <img src="../../assets/firstteam.jpg" alt="">
            <img src="../../assets/firstteam(2).jpg" alt="">
        </div>
    </div>

    <h2>Champions League Team</h2>
    <div class="under8">
        <img src="../../assets/topteam(1).jpg" alt="">
        <img src="../../assets/topteam.jpg" alt="">
        <img src="../../assets/topteam(2).jpg" alt="">
    </div>

    <div class="teams">
        <h2>Over 40</h2>
        <div class="under8">
            <img src="../../assets/over40(1).jpg" alt="">
            <img src="../../assets//over40.jpg" alt="">
            <img src="../../assets/over40(2).jpg" alt=""> 
        </div>
    </div>
</section>