<app-navbar></app-navbar>

<div (click)="backClicked()">
    <mat-icon>keyboard_arrow_left</mat-icon>Back
</div>

<h1>UNDER 8 TEAM</h1>

<div class="container">
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#1 Goal Keeper</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#2 Right Back</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#3 Right Centre Back</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#4 Left Centre Back</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#5 Left Back</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#6 Right Wing</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#7 Defensive Mid</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#8 Attacking Mid</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#9 Left Wing</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#10 Right Striker</h2>
    </div>
    <div>
        <img src="../../assets/default.png" alt="">
        <h3>Name</h3>
        <h2>#11 Left Striker</h2>
    </div>
</div>