<app-navbar></app-navbar>

<div (click)="backClicked()">
    <mat-icon>arrow_back</mat-icon>
</div>

<h1>CHAMPIONS LEAGUE TEAM</h1>

<div class="container">
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#1 Goal Keeper</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#2 Right Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#3 Right Centre Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#4 Left Centre Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#5 Left Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#6 Right Wing</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#7 Defensive Mid</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#8 Attacking Mid</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#9 Left Wing</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#10 Right Striker</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#11 Left Striker</h3>
    </mat-card>
</div>

<footer class="contact">
    <div>
        <p>Email: stanturfunitedfc@gmail.com</p>
        <p>Contact Details: </p>
        <p>(mobile) 073 403 2290</p>
        <p>(landline) 021 391 6368</p>
        <p>(whatsapp) 084 780 8549</p>
    </div>
    <div>
        <p>25 Hurricane Circle</p>
        <p>Rocklands</p>
        <p>Mitchell's Plain</p>
        <p>7798</p>
    </div>
</footer>

<div class="copyright">
    Copyright© 2020 Jarod Britz. All rights reserved.
</div>