.toolbar{
    text-align: center;
    font-size: 30px;
    padding: 1%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}
.toolbar span{
    margin: 2%;
    color: grey;
    text-decoration: none;
}
.toolbar span:hover{
    color: yellow;
    cursor: pointer;
}