<app-navbar></app-navbar>

<div class="container">
    <div>
        <img src="../../assets/StanturfUnitedFC.jpg" alt="">
    </div>

    <div>
        <h1>Contact Us</h1>
        <p><input type="text" placeholder="name..."></p>
        <p><input type="email" placeholder="name@gmail.com"></p>
        <p><textarea name="" id="" cols="30" rows="10" placeholder="write your message here..."></textarea></p>
        <button>Submit</button>
    </div>
</div>


<footer class="contact">
    <div>
        <p>Email: stanturfunitedfc@gmail.com</p>
        <p>Contact Details: </p>
        <p>(mobile) 073 403 2290</p>
        <p>(landline) 021 391 6368</p>
        <p>(whatsapp) 084 780 8549</p>
    </div>
    <div>
        <p>25 Hurricane Circle</p>
        <p>Rocklands</p>
        <p>Mitchell's Plain</p>
        <p>7798</p>
    </div>
</footer>

<div class="copyright">
    Copyright© 2020 Jarod Britz. All rights reserved.
</div>