<section class="name">

</section>


<app-navbar></app-navbar>

<section class="backgroundSection">
    <button routerLink="/about">About Us</button>
</section>

<section class="container">
    <div>
        <img src="../../assets/IMG-20200122-WA0007.jpg" alt="">
    </div>
    <div>
        <p>We are offering a senior tournament that brings together the seniors of Mitchell's Plain like the past old
            glory days of cup football use to be. Although there is the Coke cup, clubs plays their best 12-15 players
            in these competitions and a lot of seniors misses out on a lot of chances to showcase their talent. This
            tournament will also be good as it will be of assistance to Castle league and Vodacom teams as a scouting
            exercise which could open doors for Mitchell's Plain seniors as it's also a way of getting the seniors in
            Mitchell's Plain and not only certain clubs but gives all clubs the opportunity to show what they can
            achieve when given the chance.</p>
        <p>We would like to keep the players interested in the game and keep them active after the completion of the
            season. Hosting this event can unify the club members even more because we all have to work together.</p>
    </div>
</section>


<footer class="contact">
    <div>
        <p>Email: stanturfunitedfc@gmail.com</p>
        <p>Contact Details: </p>
        <p>(mobile) 073 403 2290</p>
        <p>(landline) 021 391 6368</p>
        <p>(whatsapp) 084 780 8549</p>
    </div>
    <div>
        <p>25 Hurricane Circle</p>
        <p>Rocklands</p>
        <p>Mitchell's Plain</p>
        <p>7798</p>
    </div>
</footer>

<div class="copyright">
    Copyright© 2020 Jarod Britz. All rights reserved.
</div>