<app-navbar></app-navbar>

<div (click)="backClicked()">
    <mat-icon>arrow_back</mat-icon>
</div>

<h1>UNDER 18 TEAM</h1>

<div class="container">
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#1 Goal Keeper</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#2 Right Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#3 Right Centre Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#4 Left Centre Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#5 Left Back</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#6 Right Wing</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#7 Defensive Mid</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#8 Attacking Mid</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#9 Left Wing</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#10 Right Striker</h3>
    </mat-card>
    <mat-card>
        <img src="../../assets/default.png" alt="">
        <h2>Name</h2>
        <h3>#11 Left Striker</h3>
    </mat-card>
</div>